.Form-box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BX {
  width: 520px;
  background-color: rgb(230, 242, 247);
  box-shadow: 2px 2px 20px rgb(86, 85, 85);
  border-radius: 10px;
  padding: 10px;
  margin: 5px 5px 5px 10px;
}
.MainForm {
  background-color: rgb(230, 242, 247);
  padding: 5px;
}

.ContentIN,
.TitleIn {
  border: none;
  outline: none;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
  border-bottom: 1px solid rgb(143, 140, 140);
  height: 30px;
  padding: 15px 20px 15px 20px;
  background-color: white;
  font-weight: 600;
  font-style: italic;
  caret: 5px solid black;
}

.TitleIn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ContentIN {
  font-size: medium;
  font-weight: 390;
  font-style: normal;
  color: black;
  caret-color: slateblue;
}

.loadbtn {
  background-color: lightblue;
  border: none;
  color: black;
  border-radius: 5px;
  min-width: 100px;
  min-height: 40px;
  transition: all 0.5s;
}
.loadbtn:hover {
  background-color: slateblue;
  /* box-shadow: 2px 2px 10px black; */
  color: white;
}
#sp1 {
  display: block;
}
#sp2 {
  display: none;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: aliceblue;
  animation: all 1s infinite ease-in-out;
  animation-name: load;
}

@keyframes load {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
