.nav-body {
  transition: all 0.5s linear;
}
.title {
  background: none;
  color: white;
  font-size: 35px;
  font-family: "Brush Script MT", cursive;
}
.icons {
  font-weight: 300;
  margin: 0px 5px 0px 8px;
  color: white;
}

.mail {
  color: white;
}

.close {
  background: white;
}

.log {
  color: white;
  font-size: 30px;
  margin-top: -13px;
}

.mail:hover {
  color: white;
}

.title:hover {
  color: white;
}
.log:hover {
  color: red;
}

.icons:hover {
  color: white;
  text-decoration: underline 1px lightblue;
  text-underline-offset: 5px;
}

@media (max-width: 991px) {
  .mail {
    display: none;
  }
  .icons {
    color: black;
  }

  .icons:hover {
    color: black;
    text-decoration: underline 1px lightblue;
    text-underline-offset: 5px;
  }
  .log {
    margin: 3px 0px 0px 3px;
    font-size: medium;
    position: relative;
    color: black;
  }
  .log::after {
    content: " Logout";
  }
}
