#body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#login {
  border-radius: 3px;
  box-shadow: 0px 4px 8px 0px;
  margin-top: 30px;
  height: fit-content;
  padding: 10px 0px 10px 0px;
  width: 300px;
  background: white;
}

#login h3 {
  margin: 30px 0px 50px 0px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: x-large;
}
#login .form-group {
  height: 50px;
}

#login .form-group input {
  transition: 0.2s;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  width: 85%;
}
#login .form-group label {
  text-align: center;
  width: 10%;
}
#login .btn {
  margin: 30px 0px 30px 90px;
  width: 120px;
  border: 1px solid rgb(157, 112, 248);
  border-radius: 5px;
}
#login .form-group input:focus {
  outline: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(82, 50, 242);
}

.mainbtn {
  float: right;
  margin: -50px 10px 0px 0px;
  outline: 2px solid white;
  transition: all 0.2s;
  background: rgb(33, 33, 33);
  color: white;
  border-radius: 4px;
  font-weight: 300;
  border: none;
  padding: 7px;
}
.mainbtn:hover {
  outline-offset: 1.5px;
}

.login h3 {
  font-weight: bold;
}

.error {
  margin: 2px 0px 2px 30px;
  color: red;
  font-weight: 400;
}

.loadbtn {
  margin: 30px 0px 0px 90px;
  background-color: rgb(54, 54, 123);
  color: white;
  border-radius: 5px;
  min-width: 120px;
  min-height: 30px;
  height: 40px;
  padding: 2px 10px 2px 10px;
  transition: all 0.5s;
  transform: translateY(-10px);
}
.loadbtn:hover {
  background-color: slateblue;
}
#sp1 {
  display: block;
}
#sp2 {
  display: none;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: aliceblue;
  animation: all 1s infinite ease-in-out;
  animation-name: load;
}

@keyframes load {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
