.sign {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sign .form {
  width: 310px;
  background: white fixed;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.sign .form :hover {
  background: fixed;
}

.sign .signup {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.sign .form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: "Inter", sans-serif;
  outline: none;
}

.sign .form--input:focus {
  border: 1px solid #639;
  outline: none;
}

.sign .form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.sign .form--marketing > input {
  margin-right: 0.625em;
}

.sign .form--marketing > label {
  color: grey;
}

.sign .form--submit {
  width: 120px;
  text-align: center;
  padding: 0.625em;
  height: 40px;
  line-height: normal;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.sign .form--submit:hover {
  box-shadow: 0px 4px 10px -4px black;
  color: white;
  background-color: #639;
  cursor: pointer;
  transition: 0.5s;
}

.sp1 {
  display: block;
}
.sp2 {
  display: none;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: aliceblue;
  animation: all 1s infinite ease-in-out;
  animation-name: load;
}

@keyframes load {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
